@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    max-width: 1250px;
    padding: 0 20px;
    margin: 0 auto;   
}
ul{
    list-style: none;
}
a{
    text-decoration: inherit;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
    cursor: pointer
}

@import "./components/footer.scss";
@import "./components/Hero.scss";
@import "./components/Navbar.scss";
@import "./components/Products.scss";
@import "./pages/About.scss";
@import "./pages/Admin.scss";
@import "./pages/Auth.scss";
@import "./pages/Contact.scss";
@import "./pages/Home.scss";
@import "./pages/Login.scss";
@import "./pages/services.scss";