.admin{
    padding: 200px 0;
}
.admin__wrapper{
    display: flex;
    justify-content: space-between;
}
.admin__left{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    .admin__title{
        color: rgb(13, 19, 23);
        font-family: Poppins;
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -3%;
    }
    .admin__img{
        width: 100%;
        max-width: 600px;
        height: 400px !important;
    }
}
 .admin__left__text{
     width: 100%;
     max-width: 600px;
     color: rgb(91, 91, 91);
     font-family: Poppins;
     font-size: 16px;
     font-weight: 500;
     line-height: 30px;
     letter-spacing: 0%;
 }